<div class="masthead" style="background-image:url('../assets/about2.jpg') ;">
    
    <!-- <div class="color-overlay d-flex justify-content-center align-items-center"> -->

    
 <div style="color: blue;margin-left: 80px;"><h4>Medicare prescription drug coverage 
Medicare drug coverage helps pay for prescription drugs you need. To get Medicare drug coverage, <br>
you must join a Medicare-approved plan that offers drug coverage <br>
(this includes Medicare drug plans and Medicare Advantage Plans with drug coverage) <br>



Each plan can vary in cost and specific drugs covered, but must give at least a standard level of <br>
coverage set by Medicare. Medicare drug coverage includes generic and brand-name drugs. <br>
Plans can vary the list of prescription drugs they cover (called a formulary) <br>
and how they place drugs into different "tiers" on their formularies. <br>



Plans have different monthly premiums. You’ll also have other costs throughout the year in <br>
 a Medicare drug plan. How much you pay for each drug depends on which plan you choose. <br><br>
 <div style="margin-top:200px ; margin-left: 50px;background-color: chartreuse;margin-right: 850px;" > <h1>24/7 customer support</h1></div></h4></div>
 
    

    

</div>