<div class="contacts" style="background-image: url('../assets/contacts.jpg');"><br><br>
        <table class="table table-bordered table-stripped" style="width: 40%;height: 80vh;margin-left: 70px;background-color: aliceblue; text-align: center;">
        <thead style="margin-top: 30px;">
            <tr>
               <th style="text-align: center;">State</th>
              <th style="text-align:center ;">Customer Care Number </th>
            </tr> 
        </thead>
        
            <tr>
                <td><b>Andhra Pradesh</b></td> <td> <b>1800-120-3100</b></td>
            </tr><br>
            <tr>
                <td><b>Chennai</b></td> <td><b>1800-120-3101</b></td>
            </tr><br>
            <tr>
                <td><b>Telangana</b></td> <td><b>1800-120-3102</b></td>
            </tr><br>
            <tr>
                <td><b>Mumbai</b></td> <td><b>1800-120-3103</b></td>
            </tr><br>
            <tr>
                <td><b>Rajasthan</b></td> <td><b>1800-120-3104</b></td>
            </tr><br>
            <tr>
                <td><b>Karnataka</b></td> <td><b>1800-120-3105</b></td>
            </tr><br>
            <tr>
                <td><b>Madhya Pradesh</b></td> <td><b>1800-120-3106</b></td>
            </tr><br>
            <tr>
                <td><b>Delhi</b></td> <td><b>1800-120-3107</b></td>
            </tr>
      
        </table>

</div>       