<div style="background-image: url('../assets/login.jfif');"class="login">

<div class="text-center" > 
  <div style="margin-left: 450px;margin-right: 400px;margin-top: 50px;"><br><br>
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

  <div style="color: blue;text-align: center;"><h1>LOGIN</h1></div><br>
 <div class="myform">
    <form>
      <!-- Email input -->
      <div class="form-inline mb-4" style="margin-left: 30px;">
        <input type="email" id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1">Email address</label>
      </div><br>
  
      <!-- Password input -->
      <div class="form-inline mb-4">
        <input type="password" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
      </div><br>
  
      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
            <label class="form-check-label" for="form2Example31"> Remember me </label>
          </div>
        </div>
  
        <div class="col">
          <!-- Simple link -->
          <a href="">Forgot password?</a>
        </div>
      </div><br>
  
      <!-- Submit button -->
      <button type="button" class="btn btn-primary" (click)="goToPage()">Sign in</button><br><br>
  
      <!-- Register buttons -->
      <div class="text-center">
        <p>Not a member? <a href="#!">Register</a></p>
        
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>
  
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>
  
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>
  
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div>
    </form>
  </div>
</div>

</div>

