<div style="background-image: url('../assets/update.jpg');" class="update"><br><br>

   <section style="background-color: rgb(132, 218, 74); margin-left: 320px;margin-right: 570px;" >
    <div style="text-align: center;">
          <input type="text"  style="margin-left: -10px;margin-top: 30px;" id="id" required [(ngModel)]="user.id"   name="id" >Product id<br><br>
    
          <input type="text" style="margin-left:14px ;" id="name" required [(ngModel)]="user.name" name="name">Product Name<br><br>
    
          <input type="text"  style="margin-left: 50px;" id="description" required [(ngModel)]="user.description" name="description">Product Description<br><br>
    
          <input type="text"  style="margin-left:35px ;" id="quantity" required [(ngModel)]="user.quantity" name="quantity">Product Quantity<br><br>
    
          <input type="text"  style="margin-left: 15px;" id="price" required [(ngModel)]="user.price" name="price">Product Price<br><br><br>
         <button type="button" class="btn btn-warning" 
             style="margin-left:200px;margin-bottom: 30px;" (click)="addBook()"  >Update This Product</button>
    </div>
    
    </section> 
</div>