<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      
      
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="medicare">Medicare  Home</a></li>
      <li ><a routerLink="about">about</a></li>
           
      <li><a routerLink="contacts">Contacts </a></li>
      <li><a routerLink="viewProducts">View Products </a></li>
    
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <a routerLink="admin"><button class="btn btn-warning" style="margin-right: 80px;">ADMIN LOGIN</button></a>
      <a routerLink="register"><button class="btn btn-success" style="margin:10px ;">Sign Up</button>   </a>
      <a routerLink="login"><button class="btn btn-primary" style="margin: 10px;">Login</button>   </a>
      
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
