<marquee onmouseover="stop()" onmouseout="start()" direction="right" scrollamount="5" loop="10">
  <h1 style="color:yellow;"> Welcome to MEDICARE Web Application </h1></marquee>

<div style="text-align:left; margin-left: 100px;"><h2>Categories</h2></div>
<div style="text-align: left; margin-left: 120px;">
 <h4><li><a routerLink="antip">Antipiretics</a></li>
 <li><a routerLink="anal">Analgesics</a></li>
 <li><a routerLink="antib">Antiboitics</a></li></h4>
</div>

<div style="margin-left: 300px;margin-top: -100px;margin-right: 300px;">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" ></li>
    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="../assets/medicine1.png" alt="Los Angeles" style="width: 800px;;;height: 400px;">
    </div>

    <div class="item">
      <img src="../assets/medicine2.jpg" alt="Chicago" style="width: 800px;height: 400px;">
    </div>

    <div class="item">
      <img src="../assets/medicine3.jpg" alt="New York" style="width: 800px;height: 400px;">
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
</div><br><br>

<div class="row">
  <div class="col-md-7">
<div style="text-align: center; background-color:yellow;  " ><h2>Most Viewed Medicine</h2></div>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <div class="item" style="margin-left: -150px;">
      <img src="../assets/menthol1.jpg" alt="img not found" style="width: 250px;height: 250px;">
      <div style="text-align: center; background-color:orange;width: 250px;"><h4>Menthol</h4> 
       <h4> price: 38 /- </h4>
       <button type="button" class="btn btn-primary">Buy</button>
      </div>
    </div><br><br>

    <div class="item" style="margin-top: -390px;margin-left:250px">
      <img src="../assets/cofsils.jpg" alt="img not found" style="width: 250px;height: 250px;">
      <div style="text-align: center; background-color:orange;width: 250px;" ><h4>Cofsils</h4>
        <h4> price: 59 /- </h4>
        <button type="button" class="btn btn-primary">Buy</button>
    </div><br><br>

    <div class="item" style="margin-left: 400px;margin-top:-390px">
      <img src="../assets/aspirin.png" alt="img not found" style="width: 250px;height: 250px;">
      <div style="text-align: center; background-color:orange;width: 250px;"><h4>Aspirin</h4>
        <h4> price: 42 /- </h4>
        <button type="button" class="btn btn-primary">Buy</button>
    </div><br><br>

    <div class="item" style="margin-left: -800px;margin-top:70px">
      <img src="../assets/cufriv.jfif" alt="img not found" style="width: 250px;height: 250px;">
      <div style="text-align: center; background-color:orange;width: 250px;"><h4>Curfiv</h4>
        <h4> price: 68 /- </h4>
        <button type="button" class="btn btn-primary">Buy</button>
      </div>
    </div>

    <div class="item" style="margin-left: -400px;margin-top:-350px">
      <img src="../assets/derex.jfif" alt="img not found" style="width: 250px;height: 250px;">
      <div style="text-align: center; background-color:orange;width: 250px;"><h4>Derex</h4>
        <h4> price: 79 /- </h4>
        <button type="button" class="btn btn-primary">Buy</button>
      </div>
    </div>

    <div class="item" style="margin-right: 200px;margin-top:-355px">
      <img src="../assets/cough.jfif" alt="img not found" style="width: 250px;height: 250px;">
      <div style="text-align: center; background-color:orange;width: 250px;"><h4>Cough Syrup</h4>
        <h4> price: 66 /- </h4>
        <button type="button" class="btn btn-primary">Buy</button>
    </div><br><br>
    </div>

  </div>
</div>