


<style>
    /*  body {
       background-image: url('paymentSucces.jpg');
     } */
    
</style>   

<body>
     

     
   <div style = "color: fuchsia;">
       <h1>Payment Successfully done....Your product will reach you within 7 working days.</h1>
  </div><br><br><br><br><br>

    <div style="text-align: center;">
         <h1> THANK YOU</h1>
     </div>
 <br><br><br><br>
   <div style="text-align: center;">
        <button type="button" class="btn btn-success" (click)="goToPage('medicare')">Go To Home</button>
      </div> 
    
</body> 